<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
   version="2.4">

<servlet>
	<servlet-name> Authentication </servlet-name>
	<servlet-class> ru.kambear.web.MyServlet </servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name> Authentication </servlet-name>
	<url-pattern> /Authentication.do </url-pattern>
</servlet-mapping>

<listener>
	<listener-class>
		ru.kambear.listener.MyServletContextListener
	</listener-class>
</listener>

</web-app>